<!DOCTYPE html>
<html>

<head>
  <title>{{all_urls[3]}}.{{all_urls[4]}}</title>
  <meta property="og:image" content="http://enon.eu.org/assets/img/og.png" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/dash1.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/dash2.css')}}" type="text/css" />
  <script src="https://kit.fontawesome.com/c3119f0fd2.js" crossorigin="anonymous"></script>
  <link rel="icon" href="../favicon.png" sizes="16x16" type="image/png">
  <style>
    #text-url {
      width: 80%;
    }

    #av-btn {
      margin-left: 10%;
    }

    @media (max-width: 700px) {
      #text-url {
        width: 100%;
      }

      #av-btn {
        margin-left: 0%;
      }
    }
  </style>
</head>

<body class="bg-light">
  <!-- Navigation -->
  <div class="navbar-filmy">
    <div class="logo" align="center">
      <a href="/">{{title}} | {{page}}</a>
    </div>
  </div>
  <div class="container">
    <br>


    <br>
    <center>
      <div>
        {% if "" != all_urls[7] %}
        <div class="box">
          <div class="box-body">
            <div class="page-header">
              <div class="row align-items-center">
                <div class="col-auto"><img src="{{url_for('static', filename='images/file-ico.png')}}" alt="test.rar"
                    width="60" height="60"></div>
                <div class="col">
                  <h2 class="page-title">{{all_urls[3]}}.{{all_urls[4]}}</h2>
                  <div class="page-subtitle">
                    <div class="row">
                      <div class="col-auto">
                        <span class="text-reset">File Format : <span class="do-cap">{{all_urls[4]}}</span></span>
                      </div>

                    </div>
                  </div>
                </div>


                <div class="col-auto flb_download_button">
                  <span class="flb_download_buttons">
                    <a href="{{all_urls[7]}}"><button
                        class="flb_download_file download_btn w-100 btn">DOWNLOAD FILE ({{all_urls[5]}} {{all_urls[6]}})</button></a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col">
                Direct link expire after 12h
              </div>
              <div class="col-auto">
                <a href="#" class="btn btn-sm rprt w-100">Server 1</a>
              </div>
            </div>
          </div>
        </div>
        <br />{% endif %}

        {% if "" != all_urls[8] %}
        <div class="box">
          <div class="box-body">
            <div class="page-header">
              <div class="row align-items-center">
                <div class="col-auto"><img src="{{url_for('static', filename='images/file-ico.png')}}" alt="test.rar"
                    width="60" height="60"></div>
                <div class="col">
                  <h2 class="page-title">{{all_urls[3]}}.{{all_urls[4]}}</h2>
                  <div class="page-subtitle">
                    <div class="row">
                      <div class="col-auto">
                        <span class="text-reset">File Format : <span class="do-cap">{{all_urls[4]}}</span></span>
                      </div>

                    </div>
                  </div>
                </div>


                <div class="col-auto flb_download_button">
                  <span class="flb_download_buttons">
                    <a href="{{all_urls[8]}}"><button
                        class="flb_download_file download_btn w-100 btn">DOWNLOAD FILE ({{all_urls[5]}} {{all_urls[6]}})</button></a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col">
                Direct link expire after 12h
              </div>
              <div class="col-auto">
                <a href="#" class="btn btn-sm rprt w-100">Server 2</a>
              </div>
            </div>
          </div>
        </div><br />{% endif %}

        {% if "" != all_urls[9] %}
        <div class="box">
          <div class="box-body">
            <div class="page-header">
              <div class="row align-items-center">
                <div class="col-auto"><img src="{{url_for('static', filename='images/file-ico.png')}}" alt="test.rar"
                    width="60" height="60"></div>
                <div class="col">
                  <h2 class="page-title">{{all_urls[3]}}.{{all_urls[4]}}</h2>
                  <div class="page-subtitle">
                    <div class="row">
                      <div class="col-auto">
                        <span class="text-reset">File Format : <span class="do-cap">{{all_urls[4]}}</span></span>
                      </div>

                    </div>
                  </div>
                </div>


                <div class="col-auto flb_download_button">
                  <span class="flb_download_buttons">
                    <a href="{{all_urls[9]}}"><button
                        class="flb_download_file download_btn w-100 btn">DOWNLOAD FILE ({{all_urls[5]}} {{all_urls[6]}})</button></a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col">
                Direct link expire after 12h
              </div>
              <div class="col-auto">
                <a href="#" class="btn btn-sm rprt w-100">Server 3</a>
              </div>
            </div>
          </div>
        </div><br />
        {% endif %}
        {% if "" != all_urls[10] %}
        <div class="box">
          <div class="box-body">
            <div class="page-header">
              <div class="row align-items-center">
                <div class="col-auto"><img src="{{url_for('static', filename='images/file-ico.png')}}" alt="test.rar"
                    width="60" height="60"></div>
                <div class="col">
                  <h2 class="page-title">{{all_urls[3]}}.{{all_urls[4]}}</h2>
                  <div class="page-subtitle">
                    <div class="row">
                      <div class="col-auto">
                        <span class="text-reset">File Format : <span class="do-cap">{{all_urls[4]}}</span></span>
                      </div>

                    </div>
                  </div>
                </div>


                <div class="col-auto flb_download_button">
                  <span class="flb_download_buttons">
                    <a href="{{all_urls[10]}}"><button
                        class="flb_download_file download_btn w-100 btn">DOWNLOAD FILE ({{all_urls[5]}} {{all_urls[6]}})</button></a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col">
                Direct link expire after 12h
              </div>
              <div class="col-auto">
                <a href="#" class="btn btn-sm rprt w-100">Server 4</a>
              </div>
            </div>
          </div>
        </div><br />
        {% endif %}
        {% if "" != all_urls[11] %}
        <div class="box">
          <div class="box-body">
            <div class="page-header">
              <div class="row align-items-center">
                <div class="col-auto"><img src="{{url_for('static', filename='images/file-ico.png')}}" alt="test.rar"
                    width="60" height="60"></div>
                <div class="col">
                  <h2 class="page-title">{{all_urls[3]}}.{{all_urls[4]}}</h2>
                  <div class="page-subtitle">
                    <div class="row">
                      <div class="col-auto">
                        <span class="text-reset">File Format : <span class="do-cap">{{all_urls[4]}}</span></span>
                      </div>

                    </div>
                  </div>
                </div>


                <div class="col-auto flb_download_button">
                  <span class="flb_download_buttons">
                    <a href="{{all_urls[11]}}"><button
                        class="flb_download_file download_btn w-100 btn">DOWNLOAD FILE ({{all_urls[5]}} {{all_urls[6]}})</button></a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col">
                Direct link expire after 12h
              </div>
              <div class="col-auto">
                <a href="#" class="btn btn-sm rprt w-100">Server 5</a>
              </div>
            </div>
          </div>
        </div><br />
        {% endif %}



      </div>
    </center>
    <br />

  </div>

  </div>
  </div>


  <div class="container">
    <div id="sendV">
    </div>
    <div>



      <ul class="list-group bg-white no-rounded">
        <li class="list-group-item do-cap"><strong>File name :</strong><span class="pull-right">{{all_urls[3]}}</span></li>
        <li class="list-group-item do-cap"><strong>File format :</strong><span class="pull-right">{{all_urls[4]}}</span></li>
        <li class="list-group-item do-cap"><strong>Upload By :</strong><span class="pull-right">{{uploader}}</span></li>
      </ul>




      <br>
      <hr>

      <p>We provides one of the finest Fast File Downloading services in the world. Our Team Experts have created our
        very own File Sharing Algorithm (implemented carefully) to maintain your Links at Max Speed with the alternative
        of consuming much more and inappropriate Resources. We at JioLink always care for our users and protect their
        information and all the services are ascendable referred to your benefit like you can easily add more links and
        edit without putting a notable impact on yours mind.</p>
    </div>
    <br>


  </div>

  </div>
  </div>
  </div>


  <br>
  <br>
  <div class="navbar-footer">
    <center> &copy; 2022 {{title}}</center>
    <div align="center">
      <a class="head-btn" href="/policy.php">Privacy Policy</a>
      <a class="head-btn" href="/dmca.php">DMCA</a>
 
    </div>
  </div>
</body>

</html>